@import url("https://fonts.googleapis.com/css?family=Montserrat:500");

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav{
    padding-top: 1.2%;
    padding-bottom: 1.2%;
    padding-left: 30px;
}

.logo{
    cursor:pointer;
}

.navLinks{
    display: flex;
    align-items: center;
    list-style: none;
    margin-bottom: 0;
}

.navLinks li{
    display: inline-block;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 20px;
    padding-right: 20px;
}

.navLinks li a button{
    transition: all 0.3s ease 0s;
}

.navLinks li a button:hover{
    color: blue;
}

.btnToTxt{

    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    background-color: #f8f9fb;
    border:none;
    outline: none;
    margin:0;
    padding:0;

}

.activeItem{
    color: #0088a9;
}
