h1{
    color: #D62598;
}

h5{
    color: #D62598;
}

.panel{
    box-shadow: 10px 10px 10px rgba(255, 192, 203, 0.542); 
    border: 2px solid white; 
    border-radius: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px; 
}

.noMargin{
    margin: 0;
}

label{
    font-weight: 600;
    color: #D62598;
}

.flexer{
    display: flex;
    position: relative;
}

#password{
    outline: none;
    padding-right: 11%;
}

#Repassword{
    outline: none;
    padding-right: 11%;
}

#eye-icon1{
    position: absolute;
    top: 24%;
    right: 4.5%;
    cursor: pointer;
    font-size: 1.1rem;
    color: #D62598;
}

#eye-icon2{
    position: absolute;
    top: 82%;
    right: 4.5%;
    cursor: pointer;
    font-size: 1.1rem;
    color: #D62598;
}

#PwdButton{
    background-color:white;
    border-color: #D62598;
    color: #D62598;
    transition: 0.3s;
}

#PwdButton:hover{
    background-color:#FF007F;
    border-color: #FF007F;
    color: white;
}

a{
    text-decoration: none;
    color: #D62598;
}

a:hover{
    text-decoration: underline;
    color: #FF007F;
}