@import url("https://fonts.googleapis.com/css?family=Montserrat:500");

.TitleTxt{
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    text-align: center;
}

.paginationNav{
    padding-left: 0;
    padding-right: 0;
}

table{
    table-layout: fixed;
}

td, th{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn-info{
    color: white;
}

.btn-danger:hover{
    color: orange;
}

.btn-half-success{
    background-color:#00C851;
    border-color: #00C851;
    color: white;
    transition: 0.3s;
}

